Source: wayland-screenlock-proxy
Section: x11
Priority: optional
Maintainer: Daniel Kondor <kondor.dani@gmail.com>
Build-Depends: debhelper-compat (= 13),
               libglib2.0-dev,
               meson,
               valac,
               wayfire-dev (>= 0.8.0),
               libwayland-dev (>=1.1.91),
               wayland-protocols (>=1.27)
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/dkondor/wayland-screenlock-proxy
Vcs-Browser: https://github.com/dkondor/wayland-screenlock-proxy
Vcs-Git: https://github.com/dkondor/wayland-screenlock-proxy -b debian [debian]

Package: wayland-screenlock-proxy
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, gtklock | swaylock
Description: Proxy service to better integrate Wayland screenlockers with systemd-logind
 This package provides a systemd service that monitors idleness
 and listens to requests to lock the screen and runs an available
 screenlocker.

Package: wayfire-plugin-screenlock-integration
Architecture: any
Multi-Arch: foreign
Depends: wayland-screenlock-proxy, wayfire (>= 0.8.0), ${misc:Depends}, ${shlibs:Depends}
Recommends: wcm
Description: Plugin to better integrate screenlockers with Wayfire
 This provides a configuration panel in WCM to choose the
 lockscreen to use, set the idleness timeout and set a
 keybinding to lock the screen.

